@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:wght@300;400;500;600;800&display=swap');

* {
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#all-products-section,
#women-clothing-section,
#men-clothing-section,
#jewelry-section,
#electronics-section, 
.product-info-section {
    position: relative;
    min-height: 100vh;
}

nav {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    align-items: center;
    font-size: .83rem;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    font-family: 'Fugaz One', cursive;
    font-size: 1.85rem;
    justify-self: center;
}

#nav-pgs-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.cart-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-total-items {
    margin-bottom: -6px;
    font-size: .75rem;
}

#home-div {
    width: inherit;
    height: inherit;
    background-color: black;
    background-image: url("./assets/image/woman-1774021-image-by-efes-from-pixabay.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

#tagline-article {
    padding: 180px 0 180px 60px;
}

#main-tagline {
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2.15rem;
}

#sub-tagline {
    margin-top: 0;
    padding-bottom: 8px;
    font-size: .935rem;
}

#tagline-btn-offset-border {
    border: 1px solid white;
    margin-top: 6px;
    margin-left: 6px;
    width: 155px;
    height: 55px;
}

#tagline-btn {
    background-color: white;
    margin-top: -6px;
    margin-left: -6px;
    padding: 15px 30px;
    width: 155px;
    height: 55px;
    border: none;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

#tagline-btn:active {
    transform: translateY(5px) translateX(5px);
    transition: transform .2s;
}

header {
    padding-top: 30px;
    text-align: center;
}

.breadcrumb-div {
    font-size: .8rem;
}

.breadcrumb-link {
    display: inline-block;
    text-decoration: underline;
}

.breadcrumb-link::first-letter, .breadcrumb-last-pg::first-letter {
    text-transform: uppercase;
}

.breadcrumb-last-pg {
    display: inline-block;
    color: dimgrey;
}

.prod-pg-title {
    margin-top: 3px;
}

.products-article {
    padding: 60px 200px 130px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 100px 70px;
}

.prod-sum-card-link {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 250px;
    font-size: .85rem;
    color: black;
}

.prod-sum-img-div, .prod-full-desc-image-div {
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: inherit;
}

.prod-sum-info-div {
    padding-left: 25px;
}

.prod-sum-price {
    margin-bottom: 0;
    font-weight: 500;
    font-size: .95rem;
}

.prod-sum-title {
    margin-top: 7px;
}

.added-to-bask-alert-modal-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.55);
}

.added-to-bask-alert-div {
    position: relative;
    top: 43vh;
    border: 1px solid #c3e6cb;
    background-color: #d4edda;
    border-radius: 0.25rem;
    margin: 0 auto;
    padding: 0 18px;
    width: 50%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.added-to-bask-chk-mark-span {
    background-color: #155724;
    color: #d4edda;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 1.5rem;
}

.added-to-bask-text-span {
    font-size: 1.1rem;
}

.view-bask-btn {
    background-color: transparent;
    padding: 8px 23px;
    border: 1.6px solid #155724;
    color: #155724;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: .92rem;
    font-weight: 500;
    cursor: pointer;
}

.view-bask-btn:hover {
    background-color: #155724;
    color: #d4edda;
}

.close-added-to-bask-alert-modal {
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.close-added-to-bask-alert-modal:hover {
    color: #155724;
}

.prod-full-desc-card-article {
    margin: 0 auto;
    padding: 20px 50px 150px;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 50%;
    font-size: .85rem;
    color: black;
}

.prod-full-desc-info-div {
    padding-left: 40px;
}

.prod-full-desc-price {
    font-weight: 600;
    font-size: 1.5rem;
}

.prod-full-desc-title {
    font-weight: 500;
    font-size: .95rem;
}

.prod-full-desc-excerpt {
    padding-bottom: 20px;
}

.add-to-bask-btn-offset-border {
    border: 1px solid black;
    margin-top: 6px;
    margin-left: 6px;
    width: 195px;
    height: 55px;
}

.add-to-bask-btn {
    background-color: black;
    margin-top: -6px;
    margin-left: -6px;
    padding: 15px 30px;
    width: 195px;
    height: 55px;
    border: none;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: .92rem;
    font-weight: 400;
    cursor: pointer;
}

.add-to-bask-btn:active {
    transform: translateY(5px) translateX(5px);
    transition: transform .2s;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background-color: black;
}

.footer-link {
    display: inline-block;
    width: inherit;
    text-align: center;
    font-size: .85rem;
    color: white;
}

.footer-link:hover {
    color: #F7CF7E;
}