@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:wght@300;400;800&display=swap');

* {
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

nav {
    padding-top: 10px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    align-items: center;
    font-size: .83rem;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-family: 'Fugaz One', cursive;
    font-size: 1.85rem;
    justify-self: center;
}

#nav-pgs-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.cart-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-total-items {
    margin-bottom: -6px;
    font-size: .75rem;
    color: white;
}

#home-div {
    width: inherit;
    height: inherit;
    background-color: black;
    background-image: url("./assets/image/woman-1774021-image-by-efes-from-pixabay.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

#tagline-article {
    padding-top: 170px;
    padding-left: 60px;
}

#main-tagline {
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2.15rem;
}

#sub-tagline {
    margin-top: 0;
    padding-bottom: 8px;
    font-size: .935rem;
}

#tagline-btn-offset-border {
    border: 1px solid white;
    margin-top: 6px;
    margin-left: 6px;
    width: 155px;
    height: 55px;
}

#tagline-btn {
    background-color: white;
    margin-top: -6px;
    margin-left: -6px;
    padding: 15px 30px;
    width: 155px;
    height: 55px;
    border: none;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

#tagline-btn:active {
    transform: translateY(5px) translateX(5px);
    transition: transform .2s;
}